
/integration/ @ditto-d @darxwar @Aaron-Madou @Kapil-Tamang 

/docs/API_CONTRACTS.md @ditto-d @darxwar @Aaron-Madou @Kapil-Tamang 

/docs/ARCHITECTURE.md @ditto-d @darxwar @Aaron-Madou @Kapil-Tamang 

* @ditto-d @Aaron-Madou @Kapil-Tamang

/accounts/ @jessyram
/integration/ @ditto-d
/prediction/ @TanzinaS
/storage/ @DriedArcher
/test/ @AWASHJUNGLE
/validation/ @AungLatt2001
/reports/ @angeloSA77


